@import url("https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap");

/* FONT */
.bubbler-one-regular {
  font-family: "Bubbler One", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
}

/* NAVBAR */
.bg-navbar {
  border-top: 2.5px solid #790c0a;
  border-bottom: 2.5px solid #790c0a;
  background-color: white;
}
@media (max-width: 768px) {
  .bg-navbar {
    border-top: 1.5px solid #790c0a;
    border-bottom: 1.5px solid #790c0a;
  }
}

/* SIDE-NAVBAR */
.side-navbar {
  position: fixed;
  background-color: transparent;
  cursor: pointer;
}

/* FOOTER */
.bg-footer {
  border-top: 1px solid #790c0a;
  border-bottom: 1px solid #790c0a;
  background-color: #790c0a;
  color: white;
}
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
